{% extends 'base.html' %}

{% load account %}

{% block content %}
<div id="page" class="container">
  <div id="featured">
    <div class="title">
      <h2>Doug "Big Baller" Dresser</h2>
    </div>
    <p>"The 6 God of Django" - Lebron James</p>
    <p>"Really should have given him a job" - Epic</p>
    <p>"Sexiest Man Alive, 2018" - Every girl</p>
  </div>
</div>

<div id="page" class="container">
  <div id="featured">
    <div class="title">
      <h2>Austin</h2>
    </div>
    <p>Ok</p>
  </div>
</div>

<div id="page" class="container">
  <div id="featured">
    <div class="title">
      <h2>Kevin</h2>
    </div>
    <p>Decent</p>
  </div>
</div>

<div id="page" class="container">
  <div id="featured">
    <div class="title">
      <h2>Kyle</h2>
    </div>
    <p>Yeah</p>
  </div>
</div>

<div id="page" class="container">
  <div id="featured">
    <div class="title">
      <h2>Yilin</h2>
    </div>
    <p>Idk</p>
  </div>
</div>
{% endblock %}
