{% extends 'base.html' %}
	{% load socialaccount %}
	{% block content %}
	<div id="banner">
		<div class="container">
			<div class="title">
				<span class="byline">Lucidata, an app that allows you to access websites without using your data</span> </div>
			<ul class="actions">

				{% if user.is_authenticated %}
					<p>Welcome {{ user.username }} !!!</p>
					<p><a href="{% url 'account_logout' %}">Log out</a>
				{% else %}
					<!--<li><a href="{% url 'account_login' %}">Log in</a></li>
					<li><a href="{% provider_login_url 'facebook' %}">Log in with Facebook</a></li>-->
					<li><form action="/accounts/login/" method="post">
    					{% csrf_token %}
    					{{ login_form.as_p }}
    					<input type="submit" value="Login" />
							</form>
					</li>
					<li>or</li>
					<li><a href="{% url 'account_signup' %}">Sign up</a></li>
				{% endif %}

			</ul>
		</div>
	</div>
	<div id="extra" class="container">
		<div class="title">
			<h2>With Lucidata, you can do the following things</h2>
			<!--
			<span class="byline">Donec leo, vivamus fermentum nibh in augue praesent a lacus at urna congue</span> </div>
			-->
		</div>
		<div id="4-column">
			<div class="box1">
				<div class="box"> 
					<p>Access Wikipedia</p>
				</div>
			</div>
			<div class="box2">
				<div class="box"> 
					<p>View scores for various sport events</p>
				</div>
			</div>
			<div class="box3">
				<div class="box">
					<p> Check weather forecasts</p>
				</div>
			</div>
			<div class="box4">
				<div class="box">
					<p> Get directions to places</p>
				</div>
			</div>
		</div>
		<ul class="actions">
			<li><a href="#top">Sign-in/Sign-up</a></li>
		</ul>
		<!-- Testing Done for Above
		Remainning minor problems:
		1. add logos for Wikipedia, flight status and 'and more'
		2. add other links next to 'Homepage' on the top of the screen ,which direct to different sections of the page
		-->
	</div>
	<div id="featured">
		<div class="container">
			<div class="title">
				<h2>About us</h2>
				<!--<span class="byline">Donec leo, vivamus fermentum nibh in augue praesent a lacus at urna congue</span> --></div>
			<p>This is Lucidata, an application that allows you to access website related contents without using you data.</p>
			<p>We are a group of UW Madison students working on this application as our course project and hopefully it works out well.</p>
		</div>
		<ul class="actions">
			<li><a href="{% url 'about_us' %}">Our Team</a></li>
		</ul>
	</div>
	<div id="page" class="container">
		<div class="title">
			<h2>How to register</h2>
			
		<p>1.enter your email address</p>
		<p>2.create a password for your account</p>
		<p>3.choose payment method and confirm</p>
		<p>4.click save and start using our app!</p>
		<ul class="actions">
			<li><a href="#top">Sign-in/Sign-up</a></li>
		</ul>
	</div>
</div>
{% endblock %}
