Babel==2.5.3
beautifulsoup4==4.6.0
certifi==2018.4.16
chardet==3.0.4
cookies==2.2.1
defusedxml==0.5.0
Django==2.0.4
django-allauth==0.35.0
django-crispy-forms==1.7.2
django-debug-toolbar==1.9.1
django-phonenumber-field==2.0.0
-e git+https://github.com/I-Dont-Remember/506-project.git@b455cdc0abd60135e0ab8e3372c7f97d3a3972b2#egg=django_project
django-twilio==0.9.0
googlemaps==2.5.1
idna==2.6
oauthlib==2.0.7
ohmysportsfeedspy==1.0.0
phonenumberslite==8.9.4
PyJWT==1.6.1
PySocks==1.6.8
python-forecastio==1.4.0
python3-openid==3.1.0
pytz==2018.4
requests==2.18.4
requests-oauthlib==0.8.0
responses==0.9.0
simplejson==3.13.2
six==1.11.0
sqlparse==0.2.4
twilio==6.12.0
urllib3==1.22
wikipedia==1.4.0
