{% extends 'base.html' %}

{% block content %}
  <div id="page" class="container">
    <div id="featured">
  	  <div class="title">
        <h2>Apple</h2>
      </div>
  	  <p>"Steve Jobs would die for this software!" - Tim Cook</p>
    </div>
  </div>

  <div id="page" class="container">
    <div id="featured">
      <div class="title">
        <h2>Google</h2>
      </div>
      <p>"We use it all the time"</p>
    </div>
  </div>

  <div id="page" class="container">
    <div id="featured">
      <div class="title">
        <h2>New York Times</h2>
      </div>
      <p>"This app will take you on a refreshing adventure. In a time where complex technological advancements seem to dissapoint, this is a must see!"</p>
    </div>
  </div>

  <div id="page" class="container">
    <div id="featured">
  		<div class="title">
  			<h2>Jeff Bezos</h2>
  		</div>
  		<p>"Nice"</p>
    </div>
  </div>
</div>
{% endblock %}
